.Player {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
margin-bottom: 15px;
}

.Player img {
  height: 150px;
  margin-right: 5px;
}

.Player .addPlayer-button button {
  background-color: #b93026;
  color: #ffffff;
  padding: 5px 15px;
  border: 1px solid #ee8040;
  cursor: pointer;
}
.Player .addPlayer-button button:hover {
  background-color: #2502e9;
}
